<section class="about-banner">
   <div class="about-banner">
        <h2 class="secondary-header">ABOUT US</h2>
   </div>
    <div class="banner-background-small"></div>
</section>
<section class="about-section-top">
   <div class="about-message">
        <div class="about-page-desc col-lg-6">
            <h3 class="secondary-header mb-4 text-lg-start">
                About Evans Engineering Company
            </h3>
            <p>
                We are a dynamic and fast-growing MEP (Mechanical, Electrical, and Plumbing) engineering firm based in Chennai.
                Since our establishment Five years ago, Evans Engineering has earned a reputation for delivering high-quality,
                innovative, and efficient engineering solutions tailored to meet the unique needs of our clients.
            </p>
        </div>
        <div class="image-wrapper col-lg-5">
            <img src="assets/images/electric-3.webp">
        </div>
   </div>
</section>
<section class="about-section-bottom common-margin">
    <div class="about-message about-message-two">
        <div class="image-wrapper col-lg-4">
            <img src="assets/images/mechanic-1.webp">
        </div>
        <div class="about-page-desc col-lg-6">
            <h3 class="secondary-header mb-4 text-lg-start mx-2">
                What Sets Us Apart
            </h3>
            <ul class="service-features">
                <li>
                <strong>Expertise:</strong> Our skilled team brings extensive experience and technical knowledge to every project, ensuring exceptional results.
                </li>
                <li>
                <strong>On-Time Delivery:</strong> We are committed to meeting deadlines and consistently deliver projects within the agreed timeline.
                </li>
                <li>
                <strong>Quality Services:</strong> Upholding the highest standards, we deliver reliable, sustainable, and long-lasting solutions.
                </li>
                <li>
                <strong>Client-Centric Approach:</strong> We foster open communication and collaboration, ensuring our work aligns perfectly with our clients’ goals.
                </li>
            </ul>
           <p class="bottom-text">
            From designing and implementing to maintaining MEP systems, we provide end-to-end
            solutions across diverse industries. At Evans Engineering, our mission is to deliver exceptional
            value and become your trusted partner on the path to success.
           </p>
        </div>
   </div>
</section>