<footer class="footer-container col-12 mt-5">
    <div class="col-12 row footer-wrapper">
        <div class="col-sm-12 col-lg-3 footer-image-wrapper">
            <img src="assets/images/evans-logo.png" class="footer-logo">
        </div>
        <div class="col-sm-12 col-lg-4 footer-address">
            <h4>Head Office</h4>
            <p>
                Plot No: 1230, D.No: 3/161A,
                LIG-1 Type, TNHB Colony, Sithalapakam,<br/>
                Chennai-600126
            </p>
        </div>
        <div class="col-sm-12 col-lg-4 footer-inquiry-wrapper">
            <h4>Inquiries</h4>
            <div class="footer-inquiry">
                <span>Tel: 099651 75986</span>
                <span class="footer-email">E-mail:<a href="mailto:evans.engg@gmail.com">{{"evans.engg@gmail.com"}}</a></span>
            </div>
        </div>
    </div>
    <div class="footer-overlay">
    </div>
</footer>