<section class="about-banner">
    <div class="about-banner">
         <h2 class="secondary-header">Vision</h2>
    </div>
     <div class="banner-background-small"></div>
 </section>
<section>
    <div class="mission-banner common-margin">
        <h2 class="secondary-header">Our Vision</h2>
        <div class="mission-text mt-5">
            <div class="mission-desc col-lg-8 col-xs-10 mt-3">
                To become a leading name in MEP (Mechanical, Electrical, and Plumbing) engineering,
                renowned for delivering innovative, sustainable, and high-quality solutions. Our goal is to be a
                trusted partner for clients by ensuring on-time project delivery and exceptional service. Through
                continuous improvement, cutting-edge technology, and an unwavering commitment to
                excellence, we aspire to set new industry standards and contribute to a sustainable and efficient
                future.
            </div>
        </div>
    </div>
</section>