<section class="about-banner">
    <div class="about-banner">
         <h2 class="secondary-header">Electrical</h2>
    </div>
     <div class="banner-background-small"></div>
 </section>
<section class="services-top  mt-4">
    <div class="service-message mt-3 col-lg-10 col-xl-6 col-xs-12">
        <h3 class="secondary-header text-lg-start">Expert Electrical Services</h3>
        <p>
            At Evans Engineering, our team of skilled and fully qualified electricians specializes in electrical installations, 
            maintenance, and repairs. With extensive experience spanning residential, commercial, and industrial projects, we 
            deliver exceptional service tailored to your specific needs.
        </p>
    </div>
    <div class="services-image-top-large mt-3 col-xs-12 col-xl-5">
        <img src="assets/images/electric-4.webp">
    </div>
</section>
<section class="services-top  mt-4">
    <div class="services-image-top mt-3 col-xs-12 col-xl-4">
        <img src="assets/images/electric-7.webp">
    </div>
    <div class="service-message mt-3 col-lg-10 col-xl-6 col-xs-12">
        <h3 class="secondary-header text-lg-start">Chennai's Trusted Electrical Contractors</h3>
        <p>
            As one of Chennai's leading electrical contractors, we are dedicated to providing innovative, safe, and high-quality 
            electrical solutions for a variety of buildings, including residential complexes, commercial spaces, and industrial facilities.
        </p>
    </div>
</section>
<section class="services-top  mt-4">
    <div class="service-message mt-3 col-lg-10 col-xl-6 col-xs-12">
        <h3 class="secondary-header text-lg-start">Your Safety, Our Priority</h3>
        <p>
            Customer safety and satisfaction are at the heart of everything we do. We ensure our electrical services are reliable, 
            efficient, and perfectly suited to your requirements. Choose Evans Engineering for trusted and dependable 
            electrical expertise!
        </p>
    </div>
    <div class="services-image-top-large mt-3 col-xs-12 col-xl-5">
        <img src="assets/images/electric-5.webp">
    </div>
</section>
<section class="services-top  mt-4">
    <div class="services-image-top mt-3 col-xs-12 col-xl-4">
        <img src="assets/images/electric-6.webp">
    </div>
    <div class="service-message mt-3 col-lg-10 col-xl-6 col-xs-12">
        <h3 class="secondary-header text-lg-start">Building Trust, Delivering Excellence</h3>
        <p>
            We are deeply committed to building strong, lasting relationships with our customers. By earning their trust and 
            consistently exceeding their expectations through exceptional workmanship, we aim to deliver results that set new 
            benchmarks in quality and reliability.
        </p>
    </div>
</section>