<section class="about-banner">
    <div class="about-banner">
         <h2 class="secondary-header">Mechanical</h2>
    </div>
     <div class="banner-background-small"></div>
 </section>
<section class="services-top common-margin">
    <div class="service-message mt-5 col-lg-6 col-xl-6 col-xs-12">
        <h3 class="secondary-header text-lg-start mb-4">Precision in Mechanical Services</h3>
        <p>
            At Evans Engineering , we provide comprehensive mechanical services, including HVAC system design and installation, 
            fire protection systems, plumbing, and chilled water systems. Our projects focus on enhancing energy efficiency, 
            optimizing performance, and ensuring safety. With a commitment to quality and on-time delivery, we offer customized 
            mechanical solutions for residential, commercial, and industrial sectors, tailored to meet our clients' specific needs.
        </p>
    </div>
    <div class="services-image-top-large mt-5 col-xs-12 col-xl-4">
        <img src="assets/images/mechanic-2.png">
    </div>
</section>