// commonly used colors
$primary-text-color: #212529;
$button-color:#f7bf07;
$header-nav-border-color:#5439c6;
$header-nav-background-color:#282928;
// basic colors
$white: #fff;
$black:#000;
$light-grey:#ebe9e9;
$accent-red: #DF0A0A;
$grey: #666666;

//font size for different heading
$territary-header-font-size:22px;
$secondary-header-font-size:45px;