<section class="about-banner">
    <div class="about-banner">
         <h2 class="secondary-header">Values</h2>
    </div>
     <div class="banner-background-small"></div>
 </section>
<section class="values-banner mt-5 mb-4">
    <div class="values-message col-12 pt-4">
        <h2 class="secondary-header mt-5 mb-3">
            Our Core Values
        </h2>
        <div class="row g-4 mt-4 services-board">
            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <img class="card-icon" src="assets/images/icons/quality.svg">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Quality</strong></h5>
                        <p class="card-text">We are committed to delivering superior solutions that uphold the highest standards of engineering excellence.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <img class="card-icon" src="assets/images/icons/Group.svg">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Integrity</strong></h5>
                        <p class="card-text">Honesty, transparency, and ethical practices guide every interaction, fostering trust with our clients, partners, and team.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <img class="card-icon" src="assets/images/icons/International Client.svg">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Client Focus</strong></h5>
                        <p class="card-text">Our clients are our priority. We provide customized solutions and ensure satisfaction at every stage of their journey with us.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <img class="card-icon" src="assets/images/icons/Innovation.svg">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Innovation</strong></h5>
                        <p class="card-text">By embracing cutting-edge technologies and creative problem-solving, we stay at the forefront of the industry.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <img class="card-icon" src="assets/images/icons/Team.svg">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Teamwork</strong></h5>
                        <p class="card-text">Collaboration is at the heart of what we do. We cultivate a supportive environment where our team works together to achieve success.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <img class="card-icon" src="assets/images/icons/Sustainability.svg">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Sustainability</strong></h5>
                        <p class="card-text">We are dedicated to creating environmentally responsible solutions that contribute to a greener, more sustainable future.</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>