<section class="about-banner">
    <div class="about-banner">
         <h2 class="secondary-header">Plumbing</h2>
    </div>
     <div class="banner-background-small"></div>
 </section>
<section class="services-top mt-5">
    <div class="service-message mt-5 col-lg-6 col-xl-6 col-xs-12">
        <h3 class="secondary-header text-lg-start">Reliable Plumbing Solutions</h3>
        <p>
            At Evans Engineering we deliver reliable and efficient plumbing solutions for residential, commercial, 
            and industrial projects. Our services include the design and installation of water supply systems, 
            drainage and sewer networks, sanitary fixtures, and energy-efficient water heating systems. 
            We focus on sustainability, functionality, and compliance, ensuring every project is completed on time 
            and to the highest quality standards.
        </p>
    </div>
    <div class="services-image-top-large mt-5 col-xs-12 col-xl-4">
        <img src="assets/images/plumbing-1.webp">
    </div>
</section>