<section class="hero-banner">
    <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" class="home-video-banner">
        <source src="assets/images/demo/file.mp4" type="video/mp4">
    </video>
    <h1 class="main-header">
        Welcome To <br/> Evans Engineering 
    </h1>
    <div class="hero-banner-background"></div>
</section>
<section class="home-about-us common-margin">
    <div class="col-lg-6">
        <h4 class="territary-header mb-3">Who We Are</h4>
        <h2 class="secondary-header mb-4 text-start">About Our Company</h2>
        <div class="about-desc col-12">
        <p>
                Evans Engineering, based in Chennai, specializes in MEP (Mechanical, Electrical, and 
                Plumbing) engineering services, delivering innovative and sustainable solutions for diverse 
                projects. With a strong track record of successful project execution over the past three years, 
                the company is renowned for its commitment to on-time delivery and exceptional service.
        </p>
            <p>
                At Evans Engineering, a team of highly skilled professionals combines technical expertise with a
                client-focused approach, ensuring tailored, cost-effective solutions for every project. Dedicated
                to excellence, the company consistently exceeds client expectations, fostering long-term
                partnerships and cementing its position as a trusted name in the MEP industry
            </p>
        </div>
    </div>
    <div class="home-about-us-image col-lg-5">
        <div class="col-lg-5 about-style-two">
            <div class="thumb">
                <img src="assets/images/electric-1.jpeg" alt="Image Not Found">
                <div class="experience">
                    <img src="assets/images/evans-logo.png">
                </div>
                <div class="shape">
                    <img src="assets/images/shapes/anim-5.png" alt="Shape">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-establishment common-margin">
    <h2 class="establishment-header">Year of <br/> Establishment</h2>
    <h2 class="mask-text year" style="background-image: url(assets/images/electric-2.jpg);">2019</h2>
</section>
<app-our-clients></app-our-clients>